#card {
    border-radius: 500px;
    position: relative;
    height: 140px;
    background-color: #ffff;
    border-radius: 5px;
    #card-title {
        color: #9D6BE8;
    }
    p {
        color: #2F1A5A;
        font-size: 1rem;
    }
    #footer {
        border-radius: 0px 0px 4px 4px;
        bottom: 0px;
        height: 10px;
        left: 0px;
        width: 100%;
        position: absolute;
    }
}

#card-large {
    border-radius: 5px;
    box-shadow: 0px 0px 12px -7px rgba(115,109,115,1);
    h3 {
        color: #9D6BE8;
    }
    h5 {
        color: #2F1A5A;
    }
    p {
        min-height: 100px;
        color: #2F1A5A;
        font-size: .8rem;
    }
}

