#card {
    position: relative;
    height: 150px;
    background-color: #ffff;
    border-radius: 5px;
    #card-title {
        color: #9D6BE8;
    }
    p {
        color: #2F1A5A;
        font-size: 1rem;
    }
    #footer {
        bottom: 0px;
        height: 10px;
        left: 0px;
        width: 100%;
        position: absolute;
    }
}

#card-large {
    h3 {
        color: #9D6BE8;
    }
    h5 {
        color: #2F1A5A;
    }
    p {
        min-height: 100px;
        color: #2F1A5A;
        font-size: .8rem;
    }
}

