.button-purple-default {
  background: linear-gradient(90deg, #8d4dfe 0%, #9d6be8 90%);
  border-radius: 500px;
  border-style: none;
  color: #FFFFFF;
  font: Bold 0.76rem Roboto, sans-serif;
  outline: 0 !important;
  height: 40px;
}

.button-purple-default:hover {
  background: linear-gradient(90deg, #7c42d1 0%, #8d4dfe 90%);
  border-radius: 500px;
  border-style: none;
  color: #FFFF;
  font: Bold 0.76rem Roboto, sans-serif;
  outline: 0 !important;
}

.button-purple-small-width {
  width: 162px;
}

.button-purple-medium-width {
  width: 222px;
}

.button-purple-large-width {
  width: 276px;
}

.button-withe-default {
  background: #FFFFFF;
  border-radius: 500px;
  border-style: none;
  color: #9D6BE8;
  font: Bold 0.76rem Roboto, sans-serif;
  outline: 0 !important;
  border: 1px solid #9D6BE8;
  width: 100%;
  height: 40px;
}

.button-withe-default:hover {
  background: #9D6BE8;
  border-radius: 500px;
  border-style: none;
  color: #FFFFFF;
  font: Bold 0.76rem Roboto, sans-serif;
  outline: 0 !important;
}

#card {
  border-radius: 500px;
  position: relative;
  height: 140px;
  background-color: #ffff;
  border-radius: 5px;
}

#card #card-title {
  color: #9D6BE8;
}

#card p {
  color: #2F1A5A;
  font-size: 1rem;
}

#card #footer {
  border-radius: 0px 0px 4px 4px;
  bottom: 0px;
  height: 10px;
  left: 0px;
  width: 100%;
  position: absolute;
}

#card-large {
  border-radius: 5px;
  box-shadow: 0px 0px 12px -7px #736d73;
}

#card-large h3 {
  color: #9D6BE8;
}

#card-large h5 {
  color: #2F1A5A;
}

#card-large p {
  min-height: 100px;
  color: #2F1A5A;
  font-size: .8rem;
}

p, h6, h3, h5, h2 {
  font-family: Roboto,sans-serif;
  color: #2F1A5A;
}

#section-1 h2 {
  color: #2F1A5A;
}

#section-1 p {
  font-size: .8rem;
  color: #AAACBF;
}

#background-image {
  z-index: 3;
}

#sub-block1 {
  z-index: 4;
  position: absolute;
}

#sub-block1 #sub-block-text {
  margin-top: 20%;
}

#mountain-image {
  z-index: 2;
  position: absolute;
}

#purpleWave-image {
  position: relative;
  top: -11vw;
  width: 100%;
}

@media screen and (max-width: 450px) {
  #purpleWave-image {
    top: -12.5vw;
  }
}

#footer-image {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#block-1 {
  width: 100%;
  overflow: hidden;
}

#block-2 {
  padding: 15vw 0px 8vw 0px;
  overflow: hidden;
  position: relative;
  top: -10vw;
  box-sizing: border-box;
  background-color: #2F1A5A;
}

#block-3 {
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  #section-1 div {
    margin-top: -30px;
  }
}
